<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Analyze</title>
</head>
<body>
    <h2>Test Analyze</h2>
    <form action="/analyze" method="post">
        <label for="symptoms">Simptome:</label>
        <input type="text" id="symptoms" name="symptoms" required>
        <button type="submit">Analyze</button>
    </form>

    <footer>
        <p></p>
    </footer>
</body>
</html>
